<div class="footer fixed-bottom">
  <footer class="d-flex justify-content-between align-items-center py-1 bg-primary navbar-dark">
    <p class="mb-0 text-light ps-2">© 2024 JAMM Studios</p>

    <!-- Centered logo -->
    <a href="https://github.com/MSmit99/JayWing-Academy" target="_blank" class="d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none position-absolute" style="left: 50%; transform: translateX(-50%);">
      <img src="/jaywing-academy/src/images/cs341-logo.png" alt="cs341-logo" id="cs341">
    </a>

    <ul class="nav d-flex justify-content-end mb-0">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-light">About Us</a></li>
    </ul>
  </footer>
</div>
