
/* container to flex and center everything within inside a main tag */
.center-container {
    flex: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 84vh; /* takes up window space minus header and footer */
}

/* Full Height Calendar */
#calendar {
    margin: 20px;
    width: 100%;
    max-width: 1150px; 
    min-height: 600px;
}

.hidden {
    display: none !important;
}  