
/* container to flex and center everything within inside a main tag */
.center-container {
    flex: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 84vh; /* takes up window space minus header and footer */
}

/* CALENDAR Styling */
#calendar {
    margin: 20px;
    width: 100%;
    max-width: 1150px; 
    min-height: 600px;
}


.fc-event-title {
    white-space: normal !important;
    overflow: visible !important;
    cursor: pointer;
}

.hidden {
    display: none !important;
}  

/* CS341 Logo in Footer */
#cs341 {
    height: 50px;
    width: 50px;
}